# Relatório de Análise III

In [3]:
import pandas as pd

In [4]:
dados = pd.read_csv('../extras/dados/aluguel.csv', sep = ';')

In [5]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
7,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
8,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
9,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento

In [6]:
list(dados['Tipo'].drop_duplicates())

['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila', 'Quitinete']

In [7]:
residencial = ['Quitinete',
'Casa',
'Conjunto Comercial/Sala',
'Apartamento',
'Casa de Condomínio',
'Prédio Inteiro',
'Flat',
'Loja/Salão',
'Galpão/Depósito/Armazém',
'Casa Comercial',
'Casa de Vila',
'Terreno Padrão',
'Box/Garagem',
'Loft'
'Loja Shopping/ Ct Comercial',
'Chácara',
'Loteamento/Condomínio',
'Sítio',
'Pousada/Chalé',
'Studio',
'Hotel',
'Indústria']

In [8]:
residencial = ['Quitinete', 
'Casa',
'Apartamento',
'Casa de Condomínio',
'Casa de Vila']

In [9]:
dados['Tipo'].isin(residencial).head(10)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: Tipo, dtype: bool

In [10]:
selecao = dados['Tipo'].isin(residencial).head(10)

In [11]:
selecao

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: Tipo, dtype: bool

In [13]:
dados_residencial = dados[residencial

KeyError: "None of [Index(['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio',\n       'Casa de Vila'],\n      dtype='object')] are in the [columns]"

In [23]:
import pandas as pd

numeros = [i for i in range(11)]
letras = [chr(i + 65) for i in range(11)]
nome_coluna = ['N']

df = pd.DataFrame(data = numeros, index = letras, columns = nome_coluna)

In [24]:
selecao = df['N'].isin([i for i in range(11) if i % 2 == 0])
df = df[selecao]
df

    N
A   0
C   2
E   4
G   6
I   8
K  10