# Relatório de Análise III

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('../extras/dados/aluguel.csv', sep = ';')

In [3]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
7,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
8,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
9,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento

In [16]:
residencial = list(dados['Tipo'].drop_duplicates())

In [17]:
residencial

['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila', 'Quitinete']

In [18]:
dados['Tipo'].isin(residencial).head(10)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: Tipo, dtype: bool

In [19]:
selecao = dados['Tipo'].isin(residencial).head(10)

In [20]:
selecao

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: Tipo, dtype: bool

In [22]:
dados[selecao]

/var/folders/f2/15z9qhms4ss3d6gqy2mzjcvm0000gr/T/ipykernel_8709/1104362165.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dados[selecao]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).